#root {
    position: absolute;
    top: 0;
    left: 0;

.App {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: $background;
    overflow-x: hidden;
    text-align: center;
    color: $mainfontcolor;;
    }
}

h1, h2, h3 {
    font-family: $mainfont;
    font-variant: small-caps;
}