
.header-menu {
    width: calc(100% - 40px);
    margin: 20px;
    display: grid;
    grid-template-columns: 60px auto 600px;

    .menu-items{
        grid-column: 3;

        h3 {
            font-family: $mainfont;
            color: $mainfontcolor;
            display: inline-block;
            margin-right: 20px;
        }
    }

    .header-logo {
        width: 60px;
        grid-column: 1;
    }
}