body {
    margin: 0;
    height: calc(100vh - 20px);
    width: calc(100vw - 20px);
    background-color: $background;

    .App {
        text-align: center;

        h1 {
            color: $mainfontcolor;
            font-family: $mainfont;
            font-variant: small-caps;
        }

        .series-title {
            width: 65%;
            max-width: 800px;
        }

        .books {
            .book-item {
                display: inline-block;
                margin: 20px;
                color: $mainfontcolor;
                width: 250px;
                height: 650px;
                vertical-align: top;

                h3 {
                    font-weight: 100;
                    font-size: 18px;
                    font-family: $mainfont;
                }

                img {
                    height: 250px;
                }
            }
        }
    }
}