.main-page{
    .series-title {
        width: 65%;
        max-width: 800px;
    }

    .books {
        .book-item {
            display: inline-block;
            margin: 20px;
            color: $mainfontcolor;
            width: 250px;
            vertical-align: top;

            h3 {
                font-weight: 100;
                font-size: 18px;
                font-family: $mainfont;
            }

            img {
                height: 250px;
            }
        }
    }

    .map-section {
        overflow: auto;

        img {
            width: 60%;
            max-width: 500px;
        }
    }
    
    .map-selected {
        position: absolute;
        background: #00000080;
        top: 0;
        left: 0;
        overflow: auto;
        width: calc(100vw - 20px);
        height: calc(100vh);

        img {
            max-width: none;
            height: calc(100% - 20px);
            width: auto;
        }
    }


    @media(max-width: 900px){
        .map-selected {
            img {
                height: 1000px;
            }
        }
    }

    @media(max-width: 490px){
        .series-title {
            width: 100%;
        }

        .map-section {
            img {
                width: 80%;
            }
        }

        .map-selected {
            img {
                width: auto;
            }
        }
    }
}