$background: #282c34;
$mainfontcolor: #fff;
$mainfont: 'Metamorphous', cursive;
$imperatorFont: 'imperator', serif;

@font-face {
  font-family: imperator;
  src: url("../images/fonts/ImperatorSmallCaps.ttf");
}