@import url('https://fonts.googleapis.com/css?family=Metamorphous');

@import "./styles/params";

@import "./styles/general";

@import "./styles/mainpage";
@import "./styles/header";
@import "./styles/buy";